extend layout

block script
  script(type="text/javascript").
    $(document).ready(function () {
      $('.datetimepicker').datetimepicker({
          locale: 'ru',
      });

      $("#eventEditor").submit(function(event) {
        event.preventDefault();
        var CEvent = Parse.Object.extend("Event");
        var CStudent = Parse.Object.extend("Student");
        var query = new Parse.Query(CStudent);
        query.equalTo("vkId", localStorage.getItem("user_id"));
        query.find({
          success: function(results) {
            var user = results[0];
            var currentEvent = new CEvent();
            currentEvent.set("host", user);
            console.log($("#datetimepicker1").data().date);
            console.log(new Date(Date($("#datetimepicker1").data().date.toString())));
            currentEvent.set("date", new Date(Date($("#datetimepicker1").data().date.toString())));
            currentEvent.set("endDate", new Date(Date($("#datetimepicker2").data().date.toString())));
            currentEvent.set("description", $("#shortDescription").val());
            currentEvent.set("longDescription", $("#longDescription").val());
            currentEvent.set("place", $("#place").val());
            currentEvent.relation("members").add(user);
            console.log($("#datetimepicker1").data().date);
            console.log(currentEvent);
            currentEvent.save();
            window.location.href="/events"
          },
          error: function(error) {
            alert("FUCK!");
            window.location.href="http://www.fuck.com/"
          }
      });

    });


block content
  div(class="row")
    div(class="col-sm-offset-3 col-sm-6 alert alert-danger text-center", id="wrongCredentialsAlert")
      h5
        | Please, log in
    div(class="col-sm-offset-2 col-sm-8")
      form(id="eventEditor", class="form-horizontal hidden")
        label(for="shortDescription", class="col-sm-3 control-label") SHORT DESCRIPTION
        div(class="form-group"): div(class="col-sm-7 col-xs-12")
          input(type="text", class="form-control", id="shortDescription")

        label(for="shortDescription", class="col-sm-3 control-label") LONG DESCRIPTION
        div(class="form-group"): div(class="col-sm-7 col-xs-12")
          textarea(class="form-control", rows="3", id="longDescription")

        label(for="datetimepicker1", class="col-sm-3 control-label") DATE AND TIME OF START
        div(class="form-group"): div(class="col-sm-7 col-xs-12")
          div(class="input-group date datetimepicker", id="datetimepicker1")
            input(type="text", class="form-control")
            span(class="input-group-addon")
              span(class="glyphicon glyphicon-calendar")

        label(for="datetimepicker2", class="col-sm-3 control-label") DATE AND TIME OF END
        div(class="form-group"): div(class="col-sm-7 col-xs-12")
          div(class="input-group date datetimepicker", id="datetimepicker2")
            input(type="text", class="form-control")
            span(class="input-group-addon")
              span(class="glyphicon glyphicon-calendar")

        label(for="place", class="col-sm-3 control-label") PLACE
        div(class="form-group"): div(class="col-sm-7 col-xs-12")
            input(type="text", class="form-control", id="place")

        label(for="submitButton", class="col-sm-3 control-label")
        div(class="form-group")
          div(class="col-sm-7 col-xs-12")
            div(class="btn-group")
              button(id="submitButton", type="submit", class="btn btn-default") SUBMIT
      