extend layout

block script
  script(type="text/javascript").
    $(document).ready(function () {
      $('.datetimepicker').datetimepicker({
          locale: 'ru',
      });

      var user = Parse.User.current();
      if (!user) {
          window.location.href = "/log_in";
      }

      $("#eventEditor").submit(function(event) {
        event.preventDefault();
        console.log($("#datetimepicker").data().date);
      });

    });


block content
  div(class="row")
    div(class="col-sm-offset-2 col-sm-8")
      form(id="eventEditor", class="form-horizontal")
        label(for="shortDescription", class="col-sm-3 control-label") short description
        div(class="form-group"): div(class="col-sm-7 col-xs-12")
          input(type="text", class="form-control", id="shortDescription")

        label(for="shortDescription", class="col-sm-3 control-label") long description
        div(class="form-group"): div(class="col-sm-7 col-xs-12")
          textarea(class="form-control", rows="3", id="longDescription")

        label(for="datetimepicker1", class="col-sm-3 control-label") date and time of start
        div(class="form-group"): div(class="col-sm-7 col-xs-12")
          div(class="input-group date datetimepicker", id="datetimepicker1")
            input(type="text", class="form-control")
            span(class="input-group-addon")
              span(class="glyphicon glyphicon-calendar")

        label(for="datetimepicker2", class="col-sm-3 control-label") date and time of end
        div(class="form-group"): div(class="col-sm-7 col-xs-12")
          div(class="input-group date datetimepicker", id="datetimepicker2)
            input(type="text", class="form-control")
            span(class="input-group-addon")
              span(class="glyphicon glyphicon-calendar")

        label(for="place", class="col-sm-3 control-label") place
        div(class="form-group"): div(class="col-sm-7 col-xs-12")
            input(type="text", class="form-control", id="place")

        label(for="submitButton", class="col-sm-3 control-label")
        div(class="form-group")
          div(class="col-sm-7 col-xs-12")
            div(class="btn-group")
              button(id="submitButton", type="submit", class="btn btn-default") Submit
      