extends layout

block script
  script(type="text/javascript").
    $(document).on("click", ".event-row", function() {
      window.location.href = "/event?id=" + $(this).attr("id");
    });

    $(document).ready(function() {
      var cnt;
      var usersArray;
      var eventsToHtmlObject = function(event, index) {
        console.log(event);
        console.log(event.host.vkId);

        VK.Api.call('users.get', {uids: event.host.vkId}, function(r) { 
          if(r.response) {
            --cnt;
            
            usersArray[index] = {
              id: event.id,
              title: $("<div>").addClass("col-sm-8").text(event.title),
              host: $("<div>").addClass("col-sm-8 small").text(r.response[0].first_name + " " + r.response[0].last_name),
              place: $("<div>").addClass("col-sm-4 small").text(event.place),
              date: $("<div>").addClass("col-sm-4 small").text(event.date.toString().slice(0, 16).replace("T", " ")),
            }

            if (cnt <= 0) { 
              console.log(usersArray);
              for (var i = 0; i < usersArray.length; ++i) {
                var row = $("<div class='row event-row'>").attr("id", usersArray[i].id);
                var col = $("<div class='event-col col-sm-10 col-sm-offset-1'>");
                col.append(usersArray[i].title).append(usersArray[i].place).append(usersArray[i].host).append(usersArray[i].date);                
                row.append(col);
                $("#eventsContainer").append(row);
              }
            }
          }
        }); 
        //- var host = $("<div>").addClass("col-sm-8 small").text(event.host.username.toUpperCase());
        //- var host;
        //- var place = $("<div>").addClass("col-sm-4 small").text(event.place);

        //- var dateStr = event.date.toString().slice(0, 16).replace("T", " ");
        //- var date = $("<div>").addClass("col-sm-4 small").text(dateStr);

        //- col.append(title).append(place).append(host).append(date);
        //- row.append(col);

        //- return row;
      }

      var events = !{events};
      cnt = events.length;
      usersArray = new Array(cnt);
      for (var i = 0; i < events.length; ++i)
        eventsToHtmlObject(events[i], i);
    });

block content
  div(id="eventsContainer", class="container")