extends layout

block script
  script(type="text/javascript").
    $(document).ready(function() {
      var createList = function(members) {
        console.log("members");
        console.log(members);
        ids = [];
        for (var i = 0; i < members.length; ++i)
          ids[i] = members[i].get("vkId");
        VK.Api.call('users.get', {uids: ids, fields: 'photo_50'}, function(r) {
          if (r.response) {
            for (var i = 0; i < r.response.length; ++i) {
              console.log((r.response[i].first_name + " " + r.response[i].last_name).toUpperCase());
              var photo = $("<div>").addClass("col-sm-1").addClass("col-sm-offset-3").addClass("round-img").append($("<img>").attr("src", r.response[i].photo_50).attr("height", "50px").attr("width", "50px"));
              var name = $("<div>").addClass("col-sm-8 small").text((r.response[i].first_name + " " + r.response[i].last_name).toUpperCase());
              var row = $("<div>").addClass("col-sm-12").addClass("member-row");
              row.append(photo).append(name);
              row.appendTo($("#event-row-3"));
            }
          }
          else
            window.location.href = "/error";
        });
      }

      var Event = Parse.Object.extend("Event");
      var equery =  new Parse.Query(Event);
      equery.equalTo("objectId", "!{id}");
      equery.find({
        success: function(event) {
          event = event[0];
          event.get("host").fetch({
            success: function(ehost) {
              sevent = null;
              ehost = event.get("host");

              VK.Api.call('users.get', {uids: ehost.get("vkId"), fields: 'photo_100'}, function(r) { 
                if(r.response) {
                  sevent = {
                    id: event.id,
                    photo: $("<img>").attr("src", r.response[0].photo_100).attr("height", "100px").attr("width", "100px"),
                    host: $("<div>").attr("id", "hostInfo").text((r.response[0].first_name + " " + r.response[0].last_name).toUpperCase()),
                    place: $("<div>").attr("id", "placeInfo").text(event.get("place").toUpperCase()),
                    date: $("<div>").attr("id", "dateInfo").text(event.get("date").toString().slice(0, 21)),
                    title: $("<div>").addClass("col-sm-6 col-sm-offset-3").text(event.get("title")),
                    desc: $("<div>").addClass("col-sm-6 col-sm-offset-3").attr("id", "descInfo").html(event.get("desc").replace('\n', "<br>")),
                  };
                  $("#imgInfo").append(sevent.photo);
                  $("#host-place-date").append(sevent.host).append(sevent.place).append(sevent.date);
                  console.log(event);
                  $("#subscribeButton").click(function() {
                    window.location.href = "/event/subscribe?event=" + sevent.id + "&id=" + localStorage.getItem("user_id");
                  });
                  $("#unsubscribeButton").click(function() {
                    window.location.href = "/event/unsubscribe?event=" + sevent.id + "&id=" + localStorage.getItem("user_id");
                  });
                  //- $("#event-row-1").append(sevent.photo).append(sevent.host).append(sevent.place).append(sevent.date);
                  $("#event-row-15").append(sevent.title);
                  $("#event-row-2").append(sevent.desc);
                }
                else
                  window.location.href = "/error";
              });
            
              event.relation("members").query().find({
                success: function(members) {
                  var subscribed = false;
                  for (var i = 0; i < members.length; ++i) {
                    //- console.log(members.get("vkId"));
                    //- console.log(localStorage.getItem("user_id"));
                    if (localStorage.getItem("user_id") == members[i].get("vkId")) {
                      subscribed = true;
                      $("#subscribeButton").addClass("hidden");
                      $("#unsubscribeButton").removeClass("hidden");
                    }
                  }
                  createList(members);
                },
                error: function(error) {
                  alert("error");
                }
              }); 
            },
            error: function(error) {
              window.locaion.href = "/error";
            }
          }); 
        },
        error: function(error) {
          window.locaion.href = "/error";
        }
      });

    });

block content
  div(id="event-row-1", class="row")
    div(id="imgInfo", class="col-sm-2 col-sm-offset-1 round-img")
    div(id="host-place-date", class="col-sm-7")
    div(id="subscribeDiv", class="col-sm-1")
      div(class="btn-group", role="group")
        button(id="subscribeButton", type="button", class="btn btn-default") I MAY ATTEND
      div(class="btn-group", role="group")
        button(id="unsubscribeButton", type="button", class="btn btn-default hidden") UNSUBSCRIBE
      //- p(id="subscribeButton") I may attend
      //- p(id="unsubscribeButton", class="hidden") Unsubscribe
  div(id="event-row-15", class="row")
  div(id="event-row-2", class="row")
  div(id="event-row-3", class="row")