doctype html
html
  head
    //- Parse
    script(type="text/javascript", src="http://www.parsecdn.com/js/parse-1.2.13.min.js")

    //- Bootstrap
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    script(type="text/javascript", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")

    //- jQuery
    script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.3.min.js")
    //vk
    script(src="//vk.com/js/api/openapi.js", type="text/javascript")

    //- Datetimepicker
    //- script(type="text/javascript", src="/bower_components/jquery/jquery.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment-with-locales.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/locales.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/tests.js")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css")
    //- my CSS
    link(rel="stylesheet", href="main.css")

    script(type="text/javascript").
      Parse.$ = jQuery;
      Parse.initialize("pUxJpgAS6ezU8fhWR7ILiJEWu0DebRd1JrHuIlxb", "XurS1wKCPqFs3BpW5bUBb8pIISOSclaIeiR0TE1w");
      $(document).ready(function () {
        var hiddenForAnonymous = ["li_add_event", "li_log_out", "eventEditor"];
        var hiddenForAuthorized = ["li_log_in", "wrongCredentialsAlert"]

        
        //- VK.init({
        //-   apiId: 4893325
        //- });
        

        
        if (localStorage.getItem("access_token") !== null) {
          for (var i = 0; i < hiddenForAnonymous.length; ++i)
            $("#" + hiddenForAnonymous[i]).removeClass("hidden");
          for (var i = 0; i < hiddenForAuthorized.length; ++i)
            $("#" + hiddenForAuthorized[i]).addClass("hidden");
        }
        
      
        //- VK.Auth.getLoginStatus(authInfo);
        //- VK.Observer.subscribe("auth.login", function f() {
        //-    console.log("Thank you for your like.");
        //- });
        $("#li_log_in a").click(function() {
          window.location.href="/vk";
          //- VK.Auth.login(function(response) {
          //-   location.reload();
          //- }, 1);
        });

        $("#li_log_out a").click(function() {
          localStorage.clear();
          location.reload();
          //- VK.Auth.logout(function() {
          //-   location.reload();
          //- });
        });
      });
    block script

    block title
      title go a movie
  body
    nav(id="mainNavbar", class="navbar navbar-inverse navbar-fixed-top")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand", href="/") GO A MOVIE
        div(id="navbar", class="navbar-collapse collapse")
          ul(class="nav navbar-nav navbar-right")
            li(id="li_add_event", class="hidden")
              a(href="/add_event") ADD EVENT
            li(id="li_log_in")
              a(href="javascript:;") SIGN IN WITH VK
            li(id="li_log_out", class="hidden")
              a(href="javascript:;") LOG OUT

    block content