extend layout

block script
  script(type="text/javascript").
    $(document).ready(function() {
      window.location.href=href="http://oauth.vk.com/authorize?client_id=4893325&scope=1&redirect_uri=goamovie.parseapp.com/log_in&display=popup&v=5.30&response_type=token";
    });
