/*
 *  COLORS
 * #121315 -- dark
 * #1A1A1C -- lighter
 * #607D8B -- blue
 * #2a2b2d -- hr
 */

html, body {
  background-color: #121315;
}

#mainNavbar {
  background-color: #1A1A1C;
  border-color: #1A1A1C;
}

#mainNavbar a {
  color: #FFF;
}

body {
  padding-top: 60px;
}

label {
  color: #FFF;
}

.event-row div {
  color: #FFF;
  border-bottom: solid 1px #2a2b2d;
  margin-bottom: 10px;
}